body{
    background: #333;
    color: #fff;
}
.navbar{
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}
.card{
    margin-bottom: 50px;
}

.main{
    margin-top: 50px;
    margin-bottom: 50px;
}
.table-responsive {
    display: table;
}
#snoAlertBoxTrue{
    position:absolute;
    z-index:1400;
    top:2%;
    right:4%;
    margin:0px auto;
    text-align:center;
    display:none;
}
#settled{
    position:absolute;
    z-index:1400;
    top:2%;
    right:4%;
    margin:0px auto;
    text-align:center;
    display:none;
}
#snoAlertBoxFalse{
    position:absolute;
    z-index:1400;
    top:2%;
    right:4%;
    margin:0px auto;
    text-align:center;
    display:none;
}#snoAlertBoxError{
     position:absolute;
     z-index:1400;
     top:2%;
     right:4%;
     margin:0px auto;
     text-align:center;
     display:none;
 }
.big-checkbox {width: 30px; height: 30px;}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.button{
    margin-bottom: 15px;
}
.buttons-group{
    margin-bottom: 15px;
}
.btn{
    margin: 5px;
}

